<!-- Header Start -->
<header class="header_01 isSticky zodiaq_bg_light">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-lg-3">
				<div class="logo_01">
					<a href="{{ path('app_home') }}">
						<img src="{{ asset('assets/images/logo.png') }}" alt="logo"/>
					</a>
				</div>
			</div>
			<div class="col-md-7 col-lg-9">
				<nav class="menu_1">

					<div class="menuButton">
						<a href="#">{% trans %}Menu{% endtrans %}<i class="bx bx-menu"></i>
						</a>
					</div>

					<ul>
						<li class="current-menu-item">
							<a href="{{ path('app_home') }}">{% trans %}Accueil{% endtrans %}</a>
						</li>
						<li class="">
							<a href="{{ path('app_about') }}">{% trans %}À propos{% endtrans %}</a>
						</li>
						<li>
							<a href="{{ path('app_home') }}#contact_section">{% trans %}Contact{% endtrans %}</a>
						</li>
						<li class="">
							<a href="{{ path('app_zodiaq_all') }}">{% trans %}Horoscope{% endtrans %}</a>
						</li>
						<li class="menu-item-has-children">
							<a href="{{ path('app_home') }}#blog_section">{% trans %}Notre Blog{% endtrans %}</a>
							<ul class="sub-menu">
								{{ render(controller('App\\Controller\\Pages\\BlogController::menu')) }}
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
<div class="blanks"></div>
<!-- Header End -->
