<!-- Top Bar Start -->
<section class="top_bar zodiaq_bg">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="info_item">
					<i class="bx bx-support"></i>
					<h5>
						{% trans %}
						Call:
						{% endtrans %}
					</h5>
					<h6 class="active">06.86.65.63.58</h6>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="info_item">
					<i class="bx bx-at"></i>
					<h5>
						{% trans %}
						Email:
						{% endtrans %}
					</h5>
					<h6>
						<a href="{{ path('app_home') }}#contact_section">contact@contact.com</a>
					</h6>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3 noPaddingRight">
				<div class="info_item">
					<i class="bx bxs-map"></i>
					<h5>
						{% trans %}
						Visit:
						{% endtrans %}
					</h5>
					<h6>Forges les Eaux 76440, France</h6>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="bar_btns">
					<a href="https://calendly.com/eirl-omont/60min" class="req_btn" target="_blank">
						<span>
							{% trans %}Rendez-vous{% endtrans %}
							<i class="bx bx-right-arrow-alt"></i>
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Top Bar End -->

<!-- Bar test Start (admin, login, logout...) -->
<section id="welcome" class="container-fluid row d-none">
	<div class="col-10 d-flex justify-content-start align-items-center">
		{% if app.user %}
			<p>
				{% trans %}
				Bienvenue
				{% endtrans %}
				<strong>
					{{app.user.firstname}}
					{{app.user.lastname}},
				</strong>
				{% trans %}
				Vous êtes connecté en tant que
				{% endtrans %}
				<strong>
					{{app.user.username}},
					{{ app.user.userIdentifier }}
				</strong>
			</p>
		{% endif %}
	</div>
	<div class="col-2 d-flex justify-content-end align-items-center">
		{% if app.user and app.user.isVerified %}
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('app_admin') }}" class="info_item" title="Tableau de bord" target="_blank">
					<i class="bx bx-bar-chart-alt"></i>
				</a>
			{% endif %}
			<a href="{{ path('app_logout') }}" class="info_item" title="Déconnexion">
				<i class="bx bx-log-out"></i>
			</a>
		{% else %}
			<a href="{{ path('app_login') }}" class="info_item" title="Connexion">
				<i class="bx bx-log-in"></i>
			</a>
			<a href="{{ path('app_register') }}" class="info_item" title="Inscription">
				<i class="bx bx-user-plus"></i>
			</a>
		{% endif %}
		<a href="{{ path('app_home') }}" class="info_item" title="Accueil">
			<i class="bx bx-home"></i>
		</a>
	</div>
</section>
<!-- Bar test End (admin, login, logout...) -->
