{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Horoscope{% endtrans %}
{% endblock %}

{% block body %}
	<div class="container-fluid zodiaq_bg py-4">
		<h1 class="text-center my-5">{% trans %}Horoscope{% endtrans %}</h1>
		<div class="row">
			{% for zodiaq in zodiaqSigns %}
				<div class="flip-card col-md-3 col-lg-2">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<h3>{{ zodiaq.sign | capitalize }}</h3>
							<img src="{{ zodiaq.image }}" alt="Signe du {{ zodiaq.sign }}" class="imgSign">
						</div>
						<div class="flip-card-back">
							<h4>{% trans %}Dates{% endtrans %}
								:</h4>
							<p>{{ zodiaq.date }}</p>
							<h4>{% trans %}Traits{% endtrans %}
								:</h4>
							<p>{{ zodiaq.traits }}</p>
							<div class="mt-5">
								<a href="{{ path('app_zodiaq_sign', { 'slug': zodiaq.sign }) }}" class="voir-btn" type="button">{{ zodiaq.sign }}</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
