{% extends 'base.html.twig' %}

{% block title %}Horoscope du {{ 'now' | date('d - m - Y') }} : Prévisions pour chaque Signe Zodiacal{% endblock %}
{% block desc %}Découvrez les mystères des signes du zodiaque et explorez votre avenir avec nos horoscopes précis. Laissez les étoiles vous guider vers une vie plus éclairée et épanouissante{% endblock %}


{% block body %}
	{{ include("_partials/banner.html.twig", {'name': 'Horoscope' | trans }) }}

	<div class="container-fluid zodiaq_bg py-4 mb-2">
		<div class="row">
			{% for zodiaq in zodiaqSigns %}
				<div class="flip-card col-md-3 col-lg-2">
					<div class="flip-card-inner">
						<div class="flip-card-front">
							<h3>{{ zodiaq.sign | capitalize }}</h3>
							<img src="{{ asset('assets/images/zodiaq/'~ zodiaq.image) }}" alt="Signe {{ zodiaq.sign }}" class="imgSign">
						</div>
						<div class="flip-card-back">
							<h4>{% trans %}Dates{% endtrans %}
								:</h4>
							<p>{{ zodiaq.date }}</p>
							<h4>{% trans %}Traits{% endtrans %}
								:</h4>
							<p>{{ zodiaq.traits }}</p>
							<div class="mt-5">
								<a href="{{ path('app_zodiaq_sign', { 'slug': zodiaq.sign }) }}" class="voir-btn" type="button">{{ zodiaq.sign }}</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
