{% extends 'base.html.twig' %}

{% block title %}Horoscope {{ slug }} du jour, le {{ 'now' | date('d - m - Y') }}{% endblock %}
{% block desc %}L'horoscope du jour de la {{ slug }} gratuit. Amour, travail, couple, finance, bien-être, découvrez ce qui vous attend aujourd'hui. Prévisions 100% exclusives{% endblock %}


{% block body %}
	{{ include("_partials/banner.html.twig", {'name': slug | capitalize }) }}

	<div class="container-fluid zodiaq_bg py-4 mb-2">

		<div class="container">
			{% if horoscopeData is not empty %}
				{% for horoscope in horoscopeData %}
					<h2 class="text-white">{% trans %}Horoscope hebdomadaire{% endtrans %}</h2>
					<p>
						{{ horoscope.description | raw }}
					</p>
					<p class="text-white text-right">{% trans %}Date de publication{% endtrans %}
						:
						{{ horoscope.pubDate|date('d/m/Y H:i') }}
					</p>
				{% endfor %}
			{% else %}
				<p>{% trans %}Aucune donnée d'horoscope disponible pour{% endtrans %}
					{{ slug | capitalize }}.</p>
			{% endif %}
		</div>

	</div>
{% endblock %}
