{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<!-- Popup Search Start -->
	<!-- Popup Search End -->

	<!-- Slider 01 Start -->
		<section class="slider_01"> <div class="rev_slider_wrapper">
			<div id="rev_slider_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
				<ul>
					<li data-index="rs-1" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Équilibrez votre énergie vitale" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<img src="{{ asset('assets/images/slider/1.jpg') }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
						<div class="tp-caption tp-heading" data-x="['left']" data-hoffset="['0']" data-y="['middle']" data-voffset="['-80px','-80px','-70px','-150px']" data-fontsize="['65','65','55','35']" data-fontweight="600" data-lineheight="['75','75','65','45']" data-width="['680','680','570','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#FFF']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,25]">
							Équilibrez votre énergie vitale
						</div>
						<div class="tp-caption tp-paragraph " data-x="['left']" data-hoffset="['0']" data-y="['middle']" data-voffset="['41px','41px','41px','-40']" data-fontsize="['18','18','18','18']" data-fontweight="300" data-lineheight="['27','27','27','27']" data-width="['430','430','430','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#ced4da']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,25]">
							Retrouvez votre équilibre énergétique grâce à la puissance apaisante de la radiesthésie.
						</div>
						<div class="tp-caption tp-buttons" data-x="['left']" data-hoffset="['0']" data-y="['middle']" data-voffset="['125px','125px','125px','90']" data-fontsize="['18','18','18','18']" data-fontweight="300" data-lineheight="['27','27','27','27']" data-width="['430','400','400','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#ced4da']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,25]">
							<a href="{{ path('app_home') }}#contact_section" class="fnc_btn reverses">
								<span>
									Contact<i class="bx bx-right-arrow-alt"></i>
								</span>
							</a>
							<a href="{{ path('app_about') }}" class="fnc_btn fnc_light">
								<span>A propos<i class="bx bx-right-arrow-alt"></i>
								</span>
							</a>
						</div>
					</li>

					<li data-index="rs-2" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Harmonisez votre vie avec la radiesthésie" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<img src="{{ asset('assets/images/slider/5.jpg') }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
						<div class="tp-caption tp-heading" data-x="['left']" data-hoffset="['0']" data-y="['middle']" data-voffset="['-80px','-80px','-70px','-150px']" data-fontsize="['65','65','55','35']" data-fontweight="600" data-lineheight="['75','75','65','45']" data-width="['680','680','570','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#FFF']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,25]">
							Harmonisez votre vie avec la radiesthésie
						</div>
						<div class="tp-caption tp-paragraph " data-x="['left']" data-hoffset="['0']" data-y="['middle']" data-voffset="['41px','41px','41px','-40']" data-fontsize="['18','18','18','18']" data-fontweight="300" data-lineheight="['27','27','27','27']" data-width="['430','400','400','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#ced4da']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,25]">
							Expérimentez une vie harmonieuse et équilibrée en laissant la radiesthésie vous guider vers la sérénité.
						</div>
						<div class="tp-caption tp-buttons" data-x="['left']" data-hoffset="['0']" data-y="['middle']" data-voffset="['125px','125px','125px','90']" data-fontsize="['18','18','18','18']" data-fontweight="300" data-lineheight="['27','27','27','27']" data-width="['430','400','400','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#ced4da']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,25]">
							<a href="{{ path('app_home') }}#contact_section" class="fnc_btn reverses">
								<span>
									Contact<i class="bx bx-right-arrow-alt"></i>
								</span>
							</a>
							<a href="{{ path('app_about') }}" class="fnc_btn fnc_light">
								<span>A propos<i class="bx bx-right-arrow-alt"></i>
								</span>
							</a>
						</div>
					</li>

					<li data-index="rs-3" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Trouvez les réponses cachées" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<img src="{{ asset('assets/images/slider/3.jpg') }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
						<div class="tp-caption tp-heading" data-x="['left']" data-hoffset="['0']" data-y="['middle']" data-voffset="['-80px','-80px','-70px','-150px']" data-fontsize="['65','65','55','35']" data-fontweight="600" data-lineheight="['75','75','65','45']" data-width="['680','680','570','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#FFF']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,25]">
							Trouvez les réponses cachées
						</div>
						<div class="tp-caption tp-paragraph " data-x="['left']" data-hoffset="['0']" data-y="['middle']" data-voffset="['41px','41px','41px','-40px']" data-fontsize="['18','18','18','18']" data-fontweight="300" data-lineheight="['27','27','27','27']" data-width="['430','400','400','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#ced4da']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,25]">
							Plongez dans l'univers secret de la radiesthésie et révélez les réponses qui illumineront votre chemin.
						</div>
						<div class="tp-caption tp-buttons" data-x="['left']" data-hoffset="['0']" data-y="['middle']" data-voffset="['125px','125px','125px','90']" data-fontsize="['18','18','18','18']" data-fontweight="300" data-lineheight="['27','27','27','27']" data-width="['430','400','400','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#ced4da']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,25]">
							<a href="{{ path('app_home') }}#contact_section" class="fnc_btn reverses">
								<span>
									Contact<i class="bx bx-right-arrow-alt"></i>
								</span>
							</a>
							<a href="{{ path('app_about') }}" class="fnc_btn fnc_light">
								<span>A propos<i class="bx bx-right-arrow-alt"></i>
								</span>
							</a>
						</div>
					</li>

					<li data-index="rs-4" data-transition="random-premium" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Soin purificateur et libérateur" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<img src="{{ asset('assets/images/slider/2.jpg') }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
						<div class="tp-caption tp-heading" data-x="['left']" data-hoffset="['0']" data-y="['middle']" data-voffset="['-80px','-80px','-70px','-150px']" data-fontsize="['65','65','55','35']" data-fontweight="600" data-lineheight="['75','75','65','45']" data-width="['680','680','570','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#FFF']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,25]">
							Soin purificateur et libérateur
						</div>
						<div class="tp-caption tp-paragraph " data-x="['left']" data-hoffset="['0']" data-y="['middle']" data-voffset="['41px','41px','41px','-40px']" data-fontsize="['18','18','18','18']" data-fontweight="300" data-lineheight="['27','27','27','27']" data-width="['430','400','400','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#ced4da']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,25]">
							stress, mal-être, fardeaux, énergie et liens toxiques, mauvais œil, blocages, poids du passé, karma familial..
						</div>
						<div class="tp-caption tp-buttons" data-x="['left']" data-hoffset="['0']" data-y="['middle']" data-voffset="['125px','125px','125px','90']" data-fontsize="['18','18','18','18']" data-fontweight="300" data-lineheight="['27','27','27','27']" data-width="['430','400','400','100%']" data-height="['auto']" data-whitesapce="['normal']" data-color="['#ced4da']" data-type="text" data-responsive_offset="on" data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-textalign="['left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,25]">
							<a href="{{ path('app_home') }}#contact_section" class="fnc_btn reverses">
								<span>
									Contact<i class="bx bx-right-arrow-alt"></i>
								</span>
							</a>
							<a href="{{ path('app_about') }}" class="fnc_btn fnc_light">
								<span>A propos<i class="bx bx-right-arrow-alt"></i>
								</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- Slider 01 End -->

	<!-- A propos Section Start -->
	<section class="about_us_section">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-6">
					<div class="ab_images">
						<img src="{{ asset('assets/images/home_01/1.jpg') }}" alt=""/>
						<a data-rel="lightcase" href="https://www.youtube.com/embed/FgET-iypmkc" title="YouTube video player" class="vp_btn light_pops">
							{% trans %}Play{% endtrans %}
							<span>
								<i class="bx bx-play"></i>
							</span>
						</a>
					</div>
				</div>
				<div class="col-md-12 col-lg-6 noPaddingRight">
					<div class="ab_content">
						<h5>{% trans %}A propos{% endtrans %}</h5>
						<h2>
							{% trans %}La Radiesthésie : Révélateur de Mystères Cachés{% endtrans %}
						</h2>
						<div class="dvd_bar"></div>
						<p>
							{% trans %}
							Explorez les mystères cachés avec la radiesthésie. En tant que passionné dévoué à cette pratique, je vous offre clarté, sérénité et équilibre pour comprendre votre être intérieur. Plongez dans l'univers captivant de la radiesthésie, où les réponses enfouies se dévoilent pour vous guider vers une harmonie éclairée.
							{% endtrans %}
						</p>
						<ul class="list_ul">
							<li>{% trans %}Radiesthésie pendulaire{% endtrans %}</li>
							<li>{% trans %}Radiesthésie médicale{% endtrans %}</li>
							<li>{% trans %}Radiesthésie géobiologique{% endtrans %}</li>
							<li>{% trans %}Radiesthésie alimentaire{% endtrans %}</li>
							<li>{% trans %}Radiesthésie spirituelle{% endtrans %}</li>
							<li>{% trans %}Radiesthésie émotionnelle{% endtrans %}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- A propos Section End -->

	<!-- Fact Section Start -->
	<section class="fact_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="hr_row"></div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="fact_01 text-center">
						<h2 class="counters" data-count="7">7</h2>
						<h5>{% trans %}Types de Radiesthésie{% endtrans %}</h5>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="fact_01 text-center">
						<h2 class="counters" data-count="777">777</h2>
						<h5>{% trans %}Clients satisfaits{% endtrans %}</h5>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="fact_01 text-center">
						<h2 class="counters" data-count="77">77</h2>
						<h5>{% trans %}Projets Terminés{% endtrans %}</h5>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="fact_01 text-center">
						<h2 class="counters" data-count="7777">7777</h2>
						<h5>{% trans %}Heures de Travail{% endtrans %}</h5>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Fact Section End -->

	<!-- Blog Section Start -->
	<section class="service_section" id="blog_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h5 class="sub_title">Blog</h5>
					<h2 class="sec_title">Nos articles</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 noPadding">
					<div class="service_01_slider owl-carousel">
						{% for article in articles %}
							<div class="service_01">
								<div class="sr01_thumb">
									<img src="{{ asset('assets/images/blog/'~ article.image) }}" alt="{{ article.titre }}"/>
								</div>
								<div class="sr01_dtl">
									<i class='{{ article.icone }}'></i>
									<h3>
										<a href="single_service.html">{{ article.titre }}</a>
									</h3>
									<p class="text-justify">
										{{ article.texte }}
									</p>
								</div>
								<div class="blog_01">
									<div class="b01_det">
										<div class="b01_meta">
											<span>
												<i class="bx bxs-time-five"></i>
												<a href="#">Aug 11, 2020</a>
											</span>
											<span class="b01m_com">
												<i class="bx bxs-comment-dots"></i>
												<a href="#">4 Comments</a>
											</span>
										</div>
										<a href="single_blog_post.html" class="learn_more_lnk">Read More</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="notes">
						{% trans %}Explorez les Mystères de la Radiesthésie{% endtrans %}
						<a href="https://calendly.com/eirl-omont/60min" target="_blank">
							<span>
								{% trans %}Demandez une Consultation{% endtrans %}<i class="bx bx-right-arrow-alt"></i>
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Section End -->

	<!-- Contact Section Start -->
	<section class="contact_section" id="contact_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="sec_title lights">
						{% trans %}
						Formulaire de Contact
						{% endtrans %}
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="contact_form">
						{{ render(controller('App\\Controller\\ContactController::index')) }}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact Section End -->

	<!-- CTA Section Start -->
	<section class="cta_section">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-8">
					<h2>{% trans %}Explorez les Mystères de la Radiesthésie{% endtrans %}</h2>
				</div>
				<div class="col-md-4 col-lg-4 text-right">
					<a href="https://calendly.com/eirl-omont/60min" class="fnc_btn wh" target="_blank">
						<span>
							{% trans %}Demandez une Consultation{% endtrans %}<i class="bx bx-right-arrow-alt"></i>
						</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- CTA Section End -->
{% endblock %}
