{% extends 'base.html.twig' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block body %}
	<!-- Page Banner Section Start -->
	<section class="page_banner bg_19 no_overlay pb_light blog_details_banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="pb_content text-left">
						<h2>{{ article.title }}</h2>
						<div class="b01_meta">
							<span>
								<i class="bx bxs-time-five"></i>
								<a href="#">{{ article.createdAt|date('Y-m-d H:i') }}</a>
							</span>
							<span class="b01m_author">
								<i class="bx bxs-user-circle"></i>By:
								<a href="#">Admin</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page Banner Section End -->

	<!-- Single Blog Page Section Start -->
	<section class="comon_section single_blog_page">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="blog_sidebar">
						<div class="widget">
							<h3 class="widget-title">Blog Categories</h3>
							<ul>
								{{ render(controller('App\\Controller\\Pages\\BlogController::menu')) }}
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="case_study_detail_content single_blog_content">
						<div class="blog_thumb">
							<img src="{{ asset('assets/images/articles/'~ article.image) }}" alt="{{ article.title }}"/>
						</div>
						<h3>{{ article.title }}</h3>
						<p>
							{{ article.description | raw }}
						</p>
					</div>

					<div class="related_post">
						<h3>{{ 'Articles associés' | trans }}</h3>
						<div class="row">
							{% for article in relatedArticles %}
								<div class="col-lg-6 col-md-6">
									<div class="blog_01">
										<div class="b01_thumb">
											<img src="{{ asset('assets/images/articles/'~ article.image) }}" alt="{{ article.title }}"/>
										</div>
										<div class="b01_det">
											<div class="b01_meta">
												<span>
													<i class="bx bxs-time-five"></i>
													<a href="{{ path('app_blog_articleDetails', {'categorie': article.category.slug, 'slug': article.slug}) }}">{{ article.createdAt|date('Y-m-d H:i') }}</a>
												</span>
											</div>
											<h3>
												<a href="#">{{ article.title }}</a>
											</h3>
											<div class="text-right">
												<a href="{{ path('app_blog_articleDetails', {'categorie': article.category.slug, 'slug': article.slug}) }} class="learn_more_lnk">{% trans %}Lire l'article{% endtrans %}</a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Single Blog Page Section End -->

{% endblock %}
