{% extends 'base.html.twig' %}

{% block title %}
	{{ articles.items|first.category.title }}
{% endblock %}

{% block body %}

	{{ include("_partials/banner.html.twig", {'name': articles.items|first.category.title }) }}

	<!-- Blog Page Section End -->
	<section class="comon_section blog_page">
		<div class="container">
			<div class="row">
				{% for article in articles %}
					<div class="col-lg-4 col-md-6">
						<div class="service_01">
							<div class="sr01_thumb">
								<img src="{{ asset('assets/images/articles/'~ article.image) }}" alt="{{ article.title }}"/>
							</div>
							<div class="sr01_dtl">
								<i class='{{ article.category.icone }}'></i>
								<h3 class="">
									<a href="{{ path('app_blog_articleDetails', {'categorie': article.category.slug, 'slug': article.slug}) }}">{{ article.title | u.truncate(30, '...', true) }}</a>
								</h3>
								<p>
									<ins>
										catégorie
									</ins>
									:
									<span class="font-weight-bold">
										{{ article.category.title }}
									</span>
								</p>
								<p class="text-justify">
									{{ article.shortDescription | u.truncate(220, '...', true) }}
								</p>
							</div>
							<div class="blog_01">
								<div class="b01_det px-4">
									<div class="b01_meta">
										<span>
											<i class="bx bxs-time-five"></i>
											<a href="{{ path('app_blog_articleDetails', {'categorie': article.category.slug, 'slug': article.slug}) }}">{{ article.createdAt|date('Y-m-d H:i') }}</a>
										</span>
									</div>
									<div class="text-right">
										<a href="{{ path('app_blog_articleDetails', {'categorie': article.category.slug, 'slug': article.slug}) }}" class="learn_more_lnk">{% trans %}Lire l'article{% endtrans %}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="row pt40">
				<div class="col-lg-12">
					<div class="fnc_pagination">
						{{ knp_pagination_render(articles) }}
					</div>
				</div>
			</div>

		</section>
		<!-- Blog Page Section End -->
	{% endblock %}
