{% extends 'base.html.twig' %}

{% block title %}Blog dédié à La Radiesthésie, Magnétisme Radiesthésie{% endblock %}
{% block desc %}La citrine est une pierre auto-nettoyante qui nettoie également les autres pierres. Placez le pendule ou le cristal dans une pochette ou un récipient contenant de la citrine et laissez-le reposer pendant 24 heures.{% endblock %}


{% block body %}
	{{ include("_partials/banner.html.twig", {'name': 'Blog' }) }}

	<!-- Blog Page Section Start -->
	<section class="comon_section blog_page">
		<div class="container mb-5">
			<h1 class="display-3">Exploration Enrichissante</h1>
			<p class="lead">Plongez dans notre Collection Complète d'Articles</p>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-5">
					<div class="blog_sidebar">
						<div class="widget">
							<h3 class="widget-title">Blog Categories</h3>
							<ul>
								{{ render(controller('App\\Controller\\Pages\\BlogController::menu')) }}
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-md-7">
					<div class="container">
						<div class="row">
							{% for article in articles %}
								<div class="col-lg-4 col-md-4">
									<div class="blog_01">
										<div class="b01_thumb">
											<img src="{{ asset('assets/images/articles/'~ article.image) }}" alt="{{ article.title }}"/>
										</div>
										<div class="b01_det">
											<div class="b01_meta">
												<span>
													<i class="bx bxs-time-five"></i>
													<a href="#">{{ article.createdAt|date('d-m-Y') }}</a>
												</span>
											</div>
											<h3>
												<a title="{{ article.title }}" href="{{ path('app_blog_articleDetails', {'categorie': article.category.slug, 'slug': article.slug}) }}">{{ article.title | u.truncate(20, '...', true) }}</a>
											</h3>
											<p class="text-justify">
												{{ article.shortDescription | u.truncate(220, '...', true) }}
											</p>
											<div class="text-right">
												<a href="{{ path('app_blog_articleDetails', {'categorie': article.category.slug, 'slug': article.slug}) }}" class="learn_more_lnk">{% trans %}Lire l'article{% endtrans %}</a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="row pt40">
						<div class="col-lg-12">
							<div class="fnc_pagination">
								{{ knp_pagination_render(articles) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog Page Section End -->
{% endblock %}

{% block css %}
	<style>
		.blog_sidebar ul li a:before {
			content: "";
			font-family: unset;
			font-size: initial;
			color: initial;
			position: initial;
			left: -3px;
			top: 1px;
			color: inherit;
			transition: inherit;
			-moz-transition: inherit;
			-webkit-transition: inherit;
		}
	</style>
{% endblock %}
